<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        .container {
            max-width: 500px;
            width: 100vw;
            height: 100vh;
            margin: 0 auto;
            border: none;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="introduce">
        <div class="owner">
            微信：lidongyooo
        </div>
        <div class="repository">
            GitHub: <a href="">timepill</a>
        </div>
    </div>
</div>
<script src="{{ url_for('static', path='/jquery3.7.1min.js') }}"></script>
<script>
    console.log($('.container').html())
</script>
</body>
</html>